@model List<Category>

<div class="col-md-12 my-4">
    <div class="card shadow">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h5 class="card-title">Categories</h5>
                <a class="btn btn-primary text-white mb-3" asp-action="Create">Create</a>
            </div>
            <table class="table table-bordered table-hover mb-0">
                <thead>
                    <tr>
                        <th class="text-dark font-weight-bold">Image</th>
                        <th class="text-dark font-weight-bold">Name</th>
                        <th class="text-dark font-weight-bold">IsMain</th>
                        <th class="text-dark font-weight-bold">Children</th>
                        <th class="text-dark font-weight-bold">Parent</th>
                        <th class="text-dark font-weight-bold">Status</th>
                        <th class="text-dark font-weight-bold" style="text-align:end">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Category item in Model)
                    {
                        <tr>
                            <td>
                                @if (item.IsMain)
                                {
                                    <img src="~/assets/images/@item.Image" style="height:100px;width:100px;object-fit:cover" />
                                }
                                else
                                {
                                    <span style="color:red">Yoxdur</span>
                                }
                            </td>
                            <td>@item.Name</td>
                            <td>
                                @if (item.IsMain)
                                {
                                    <span class="badge badge-pill badge-success text-white">Main</span>
                                }
                                else
                                {
                                    <span class="badge badge-pill badge-danger">Child</span>
                                }
                            </td>
                            <td>
                                @if (item.IsMain)
                                {
                                    @foreach (Category child in item.Children)
                                    {
                                        <div style="color:green">@child.Name</div>
                                    }
                                }
                                else
                                {
                                    <div style="color:red">Yoxdur</div>
                                }
                            </td>
                            <td>
                                @if (!item.IsMain)
                                {
                                    <span style="color:green">@item.Parent.Name</span>
                                }
                                else
                                {
                                    <span style="color:red">Yoxdur</span>
                                }
                            </td>
                            <td>
                                @if (!item.IsDeactive)
                                {
                                    <span class="badge badge-pill badge-success text-white" style="width:60px" >Aktiv</span>
                                }
                                else
                                {
                                    <span class="badge badge-pill badge-danger" style="width:60px">Passiv</span>
                                }
                            </td>
                            <td class="d-flex justify-content-end">
                                <div class="d-flex align-items-md-center" style="height:100px" >
                                    <a class="btn btn-warning text-white mr-2" asp-action="Detail" asp-route-id="@item.Id">Detail</a>
                                    <a class="btn btn-info text-white mr-2" asp-action="Update" asp-route-id="@item.Id">Update</a>
                                    @if (item.IsDeactive)
                                    {
                                        <a class="btn btn-success text-white mr-2" asp-action="Activity" asp-route-id="@item.Id" style="width:112px">Activited</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-danger text-white mr-2" asp-action="Activity" asp-route-id="@item.Id" style="width:112px">DeActivited</a>
                                    }
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



